.quadrado{
    width: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    border: rgb(0, 0, 0) solid;
    margin-top: 50vh;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(194, 194, 194);
    border: none;
    border-radius: 5px;
    padding: 1em 2em;
 }
 .botao{
     margin-top: 20px;
     background-color: rgb(185, 185, 185);
     width: 70px;
     height: 30px;
     cursor: pointer;
 }
 #addbor{
    min-height: 40px;
    max-height: 100px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgb(163, 162, 162);
    border: none;
    width: 250px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
 }
